*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}


#main {

}

#header {
    height: 46px;
    background-color: #000;
}
#header .search-btn {
    float: right;
    line-height: 46px;
    
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    padding: 0 21px;

}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;

}
#nav {
    display: inline-block;
}
#nav li {
    display: inline-block;

}
#nav .nav-arrow-down {
    font-size: 12px;
}
#nav .subnav {
    display: none;
}
#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover a {
    color: #000;
    background: #ccc;
}

#slider {

}

#content {

}
#footer {

}
